body {
    max-width: 100%;
    font-family: 'Helvetica';
}
h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}
div.container {
    margin-right: auto;
    margin-left: auto;
}
div.myblurb {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.nav-header {
    margin: 5px auto 15px auto;
    background-color: #6C7A89;
}
.navbar {
    padding-top: 10px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    padding: 10px;
}

ul.icons>li {
    margin: 15px;
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-github, .fa-github-square {
    color: black;
}

.fa-free-code-camp, .fa-free-code.camp {
    color: #016101; 
}

img.icon-img {
    max-height: 50px;
    max-width: 37px;
}
img.rakeem-pic {
    max-height: 250px;
    max-width: 250px;
}
a {
    text-decoration: none;
    color: white;
}

.navbar a {
    font-size: 1.5em;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    /*border-top: 1px solid #d5d5d5;*/
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

p.helper-text {
    margin-top: 60px;
}