/* global */
body {
  max-width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100%;
  font-weight: 400%;
  overflow: scroll;
  margin-bottom: 0px;
  background-color: #f2f1ef;
}

p.about-blurb {
  font-size: 2em;
  line-height: 2em;
}

p {
  font-size: 2em;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #4183d7;
}

footer {
  font-size: 0.8em;
  overflow: hidden;
}

div.page-meat {
  background-color: #f2f1ef;
  background-size: cover;
  color: #6c7a89;
}
.section-header {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  color: #6c7a89;
}

.page-header {
  border-color: #6c7a89;
}
/* nav section */

div.nav-header {
  margin: 20px 10px;
}
.nav-header a {
  color: #4183d7;
}
.navbar {
  padding-top: 0px;
}
nav ul,
footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  padding: 10px;
}

ul.icons > li {
  margin: 15px;
}

#name-jumbotron h1 {
  font-size: 60px;
}

/* name div */
#name-jumbotron {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  color: #4183d7;
}

/* about section */
#about-section .about-title {
  padding-top: 0px;
  margin-top: 30px;
}

/* images */
img.icon-img {
  max-height: 50px;
  max-width: 37px;
}
img.rakeem-pic {
  max-height: 250px;
  max-width: 250px;
}
/* projects section */
#project-section small {
  font-size: 10px;
}
/* links */
.social-links {
  color: #4183d7;
}

.nav-icon:hover {
  color: #f4d03f;
}
a:hover {
  text-decoration: none;
  color: #f4d03f;
}

.navbar a,
.nav-header.icon {
  font-size: 1.5em;
}

/* lists */
ul.posts {
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
  margin-bottom: 50px;
}

/* footer */
.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}

.fa-github,
.fa-github-square {
  color: black;
}

.fa-linkedin {
  color: black;
}

/* Post pages */

.post-header-font {
  color: #4183d7;
}
