.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.Social-Links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right; 
}

.Social-Links li {
  margin: 15px;
}

.Social-Links a {
  text-decoration: none;
  color: white;
}

.About-Div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.About-Blurb {
  display: flex;
  justify-content: right;
  margin-left: 50px;
  margin-right: 50px;
}

.About-Blurb p {
  line-height: 2;
}

.Picture-Div {
  display: flex;
  justify-content: left;
  margin-left: 50px;
}
.Picture-Div img {
  border-radius: 10%;
}

