.App {
  text-align: center;
}

.Social-Links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.Social-Links li {
  margin: 15px;
}

.Social-Links a {
  text-decoration: none;
}

.Social-Links a:hover {
  color: red;
}