.App {
  display: flex;
  justify-content: center;
}

.About-Div {
  display: flex;
  justify-content: center;
}

.About-Div img {
  border-radius: 10%;
}
.Social-Links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Social-Links li {
  margin: 15px;
}

.Social-Links a {
  text-decoration: none;
  color: white;
}

.Social-Div {
  display: flex;
  justify-content: center;
}
