<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- Latest compiled and minified CSS -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
			 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			 <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div class="container">
			<nav class="pull-right">
	    		<ul>
	        		<li><a href="/blog">Blog</a></li>
		        	<li><a href="/resume">Resume</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
		</div>
			<div class="container-fluid my-blurb">
				<div class="row">
						<div class="text-center">
							{{ content }}
						</div>
				</div>
			</div><!-- /.container -->
			<footer>
	    	
			</footer>
			<script id="dsq-count-scr" src="//raksite.disqus.com/count.js" async></script>
		</body>
	</html>
