---
layout: default
comments: true
---
	<nav id="myNav" class="navbar nav-header text-center">
		<ul>
			<span class="pull-left"><li><a href="../../../../index.html"><i class="fa fa-home fa-2x nav-icon" aria-hidden="true"></i></a></li></span>

		</ul>
	</nav>

		<header class="text-center">
			<h1 class="section-header post-header-font">{{ page.title }}</h1>
			<!-- <p>{{ page.date | date_to_string }}</p> -->
		</header>

		<div class="page-meat">
			<div class="container">
				<div class="post">
					{{ content }}
				</div>

		{% include disqus.html %}

		{% if page.comments %} 
		<a href="https://rthomas29.github.io/index.html#disqus_thread"></a>
		{% endif %}

		</div>